* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hLink {
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
    font-size: 32px;
    font-family: cursive;
    padding: 6px;
    margin: 0px;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    padding: 16px 24px;
    background-color: rgba(0, 0, 0);
    column-gap: 2rem;
    width: auto;
}

.navitem {
    text-decoration: none;
    flex-shrink: 0;
    flex-wrap: nowrap;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px white solid;
    flex-shrink: 0;
}

.drop-down {
    flex-grow: 1;
}

.cart-grow {
    flex-grow: 10;
}

.cart-align {
    margin-left: 90%;
}

.slide-back {
    background-image: url("/Mess_N_Canteen/public/img/bg-texture.jpg");
    background-size: cover;
    padding: 2%;
    text-align: center;
    justify-content: center;
}

body .slider {
    justify-content: center;
    align-items: center;
}

.slider {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
    overflow: hidden;
    margin-bottom: 3%;
}

.slides {
    display: flex;
    width: 700%;
    height: 500px;
}

.slides input {
    display: none;
}

.slide {
    width: 14.28%;
    transition: 2s;
}

.slide img {
    height: 500px;
    width: 800px;
}

.manual-nav {
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    z-index: 2;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 15px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -14.28%;
}

#radio3:checked~.first {
    margin-left: -28.56%;
}

#radio4:checked~.first {
    margin-left: -42.85%;
}

#radio5:checked~.first {
    margin-left: -57.14%;
}

#radio6:checked~.first {
    margin-left: -71.42%;
}

#radio7:checked~.first {
    margin-left: -85.71%;
}


.auto-nav {
    position: absolute;
    display: flex;
    width: 800px;
    margin-top: 460px;
    justify-content: center;
    z-index: 1;
}

.auto-nav div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.auto-nav div:not(:last-child) {
    margin-right: 15px;
}

#radio1:checked~.auto-nav .auto-btn1 {
    background-color: white;
}

#radio2:checked~.auto-nav .auto-btn2 {
    background-color: white;
}

#radio3:checked~.auto-nav .auto-btn3 {
    background-color: white;
}

#radio4:checked~.auto-nav .auto-btn4 {
    background-color: white;
}

#radio5:checked~.auto-nav .auto-btn5 {
    background-color: white;
}

#radio6:checked~.auto-nav .auto-btn6 {
    background-color: white;
}

#radio7:checked~.auto-nav .auto-btn7 {
    background-color: white;
}

.tagline {
    margin-left: 20%;
    display: flex;
    width: 800px;
    text-align: center;
    align-items: center;
    /* border: 2px solid white; */
    margin-bottom: 3%;
    margin-top: 2%;
}

.ad {
    /* border: 5px solid yellow; */
    padding: 2%;
    margin-left: 2%;
}

.ad img {
    width: 500px;
    height: 300px;
    /* border: 2px solid blue; */
}

.txt {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 1%;
    font-size: 24px;
    /* border: 10px solid red; */
}


.contact-us {
    width: 200px;
    padding: 1%;
    color: white;
    text-align: left;
    /* border: white 2px solid; */
}
